<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PyUnit</string>
	<key>ordering</key>
	<array>
		<string>9704E269-64FD-41A0-9C04-5594A71CFE5C</string>
		<string>86A79ECD-D406-4089-8FD5-13B3EC358EE7</string>
		<string>E2DA7977-891E-4132-A81C-87B57A3B1803</string>
	</array>
	<key>uuid</key>
	<string>F163DD3A-B0A0-4A1A-8E69-F24E582BC571</string>
</dict>
</plist>
